
h1,h2,h3,h5,p{
    margin: 0!important;
}

.justify-evenly{
    justify-content: space-evenly;
}

.w-110{
    width: 110%;
}

.w-90{
    width: 90% !important;
}

.w-70{
    width: 70% !important;
}

h4{
    font-size: 30px !important;
    font-weight: 800 !important;
}
